<section class="admin-products-index">

<%= link_to 'admin/products#index' do %>
<p>Total products: <%= @total1 %></p>
<% end %>
<%= link_to 'admin/categories#index' do %>
<p>Total categories: <%= @total2 %></p>
<% end %>
